* {
    font-family: "Open Sans", serif;
    color: #fff;
}

body {
    background-color: #1E1E1E;
    margin: 0;
}

.container {
    display: flex;
}

.sidebar {
    font-size: 20px;
    width: 390px; /* Increased width */
    padding-top: 20px;
    height: 130.55%;
    position: absolute;
    border-right: 1px solid #585757;
    overflow-y: auto; /* Scroll if content overflows */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 6px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    color: #474646;
}

.content {
    margin-left: 390px; /* Adjust for increased sidebar width */
    padding: 20px;
    width: calc(100% - 390px); /* Adjust for increased sidebar width */
}

.header {
    color: whitesmoke;
    margin-top: 0;
}

ul.breadcrumb {
    padding: 3px 0;
    margin-left: 0;
    list-style: none;
}

ul.breadcrumb li {
    color: #fff;
    display: inline;
    font-size: 20px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #989797;
    content: ">";
}

ul.breadcrumb li a {
    color: #989797;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 4px 0;
}

tr.paper-link td {
    padding-top: 10px; /* Reduced padding-top */
    padding-bottom: 10px; /* Reduced padding-bottom */
    font-size: 18px;
}

a {
    color: #5C84F8;
    text-decoration: none;
    margin: 0;
}

a:hover {
    text-decoration: underline;
    color: #82a1fa;
}

.border-heading th {
    background-color: #171717;
    font-size: 20px;
    padding: 20px 0;
    color: #fff;
}

input[type="number"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding: 30px;
}

.score.green {
    background-color: green;
    color: white;
}

.score.yellow {
    background-color: yellow;
    color: black;
}

.score.red {
    background-color: red;
    color: white;
}

.highlighted {
    color: #36AD2D;
    text-decoration: line-through;
    cursor: pointer;
    text-decoration-thickness: 1px;
}

/* Align table content to the left */
.table-align-left td, .table-align-left th {
    text-align: left;
}

table th:nth-child(1),
table td:nth-child(1) {
    padding-left: 20px; /* Adjust this value to control the amount of space */
}

table th:nth-child(2),
table td:nth-child(2) {
    padding-left: 0; /* Adjust this value to control the amount of space */
}

.year {
    border-bottom: solid 1px #585757;
    border-top: solid 1px #585757;
}

.align-left {
    margin-left: -390px;
}

table.progress {
    font-size: 20px; /* Font size of the table */
    border-collapse: collapse;
    margin-top: 20px; /* Space above the table */
    min-height: 500px; /* Minimum height to ensure it extends further down */
    min-width: 1824px;
}

table.progress th, table.progress td {
    border: 1px solid #585757; /* Line between cells */
    padding: 5px; /* Increase padding for bigger cells */
}

table.progress caption {
    font-size: 24px; /* Font size for the table caption */
    padding: 10px 0; /* Padding for the caption */
    text-align: center; /* Center-align the caption */
}

.horizontal-line {
    width: 1820px; /* Full width minus the sidebar width */
    height: 1px; /* Height of the line */
    background-color: #585757; /* Color of the line */
    margin-left: -390px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack sidebar and content */
    }

    .sidebar {
        width: 100%;
        max-width: none; /* Allow full width on mobile */
        border-right: none;
    }

    .content {
        margin-left: 0; /* Reset margin for mobile */
    }

    .horizontal-line {
        width: 100%; /* Full width on mobile */
        margin-left: 0;
    }
}

#progress-tracking {
    font-size: 32px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1E1E1E;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type="text"] {
    background-color: #1E1E1E;
    color: #fff;
    border: 1px solid #585757;
    padding: 10px;
}

button {
    background-color: #1E1E1E;
    color: #fff;
    border: 1px solid #585757;
    padding: 10px;
}
